In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/201901-202003.csv')
data = data.fillna('')

In [3]:
df = data.copy()
df = df[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
df = df.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)
df = df.loc[df['REG_YYMM']==202003]
df = df[['CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]

In [4]:
submission = pd.read_csv('data/submission.csv', index_col=0)
submission = submission.loc[submission['REG_YYMM']==202004]
submission = submission[['CARD_SIDO_NM', 'STD_CLSS_NM']]
submission = submission.merge(df, left_on=['CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission = submission.fillna(0)
AMT = list(submission['AMT'])*2

submission = pd.read_csv('data/submission.csv', index_col=0)
submission['AMT'] = AMT
submission.to_csv('submission.csv', encoding='utf-8-sig')
submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  9.605901e+07
1     202004           강원               골프장 운영업  2.915798e+09
2     202004           강원           과실 및 채소 소매업  9.948169e+08
3     202004           강원     관광 민예품 및 선물용품 소매업  1.331730e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  0.000000e+00